/* Add mobile styles for the component here.  */
TextField {
  width: 66%;
}

Button {
  width: 33%;
}

@import '~nativescript-theme-core/css/core.light.css';

.btn {
  background: #7c015d;
  border-width: 1;
  border-color: #7c015d;
  color: white;
  padding: 5 10;
  border-radius: 30%;
  margin: 5 0;
}

.form-control {
  border-bottom-color: #7c015d;
  border-bottom-width: 2;
  padding: 5 8;
  margin: 5 0;
}